# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

cudatoolkit=10.1.243=h74a9793_0
cudnn=7.6.5=cuda10.1_0
tensorflow=2.1.0
numpy>=1.19.1
flask>=1.1.2