body {
    padding: 5em;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-shadow: 0px 0px 4px #2f6627;
    color: #FF0066;
    display: inline-block;
}

hr {
    width: 100%;
    margin: 0 auto;
    border: 0;
    height: 1px;
    box-shadow: 0px 0px 5px 0px #FF0099;

}

#canvas {
    display: block;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 18px 0px #FF0099;
}

#picture {
    display: block;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 18px 0px #FF0099;
}

#reset {
    -moz-box-shadow: 0px 0px 30px 0px #FF0099;
    -webkit-box-shadow: 0px 0px 30px 0px #FF0099;
    box-shadow: 0px 0px 18px 0px #FF0099;
    background-color: #FF0066;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 46px;
    text-decoration: none;
    text-shadow: 0px 0px 18px #2f6627;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

#reset:hover {
    background-color: #FF0033;
}

#reset:active {
    position: relative;
    top: 1px;
}

.content {
    width: 100%;
    padding-top: 50px;
}

.content-left {
    float: left;
}

.content-center {
    float: left;
    margin-left: 80px;
}

.content-right {
    float: left;
    margin-left: 80px;
}

table.result tr {
    border-bottom: none;
}

table.result > tbody > tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.5);
}

table.result > tbody > tr > td {
    border-radius: 0;
}

table th, td {
    border: none;
    padding: 15px;
    text-align: center;
}

.th-1 {
    width: 50px;
}

.th-2 {
    width: 250px;
}

.th-3 {
    width: 250px;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.answer {
    text-shadow: 0px 0px 18px #2f6627;
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
}