<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What digit you write?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
</head>
<body>

<h1>What Digit You Write?</h1>
<hr/>
<div class="content">

    <div class="content-left">
        <canvas id="canvas"></canvas>
    </div>

    <div class="content-center">
        <canvas id="picture"></canvas>
        <a href="#" id="reset">reset</a>
    </div>
    <div class="content-right">
        <table class="result">
            <tr>
                <th class="th-1">&nbsp;</th>
                <th class="th-2">regression</th>
                <th class="th-3">convolutional</th>
            </tr>
            <tr>
                <th>0</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>1</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>2</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>3</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>4</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>5</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>6</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>7</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>8</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>9</th>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>